.gzb-hidden-cursor div.BilliardsTable {
  cursor: none !important;
}

.gzb-cursor {
  display: none;
  box-sizing: border-box;
  pointer-events: none;
  position: fixed;
  z-index: 99999;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid #000;
}

.gzb-cursor::before {
  content: '';
  display: var(--before-display, block);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--before-size, 3px);
  height: var(--before-size, 3px);
  background-color: var(--before-background, #00ff04);
  border-radius: 50%;
}
